* {
  margin: 0px;
  padding: 0px;
}
body {
    background-color: #000835;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
  }


  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 17px 10%;
    background-color: #2a346a;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  /* HEADER */
  .logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-right: auto;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #f8219e;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #5b53cc;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #f8219e;
  }
  
.botoes {
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 40px;
  background-color: rgb(47, 37, 105);
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
#kk {
  text-align: center;
  background-color: #fff;
  border-radius: 100px;
  width: 100px;
  height: 20px;
}
.seta {
  position: absolute;
  margin-top: 3px;
  margin-left: 7px;
  width: 15px;
  height: 15px;
}

