* {
    background-color: #000835;
    flex-direction: column;
    align-items: center;
}

.titulo {
    background-color: #2a346a;
    color: white;
    width: 14%;
    text-align: center;
    border-radius: 15px;
}
.texto {
    color: white;
}